/* Reset some basic styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body styling */
body {
  background-color: #f4f7f6;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

/* Form container */
.form-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* Title */
h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

/* Labels */
label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  color: #555;
}

/* Inputs and selects */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #333;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  outline: none;
}

textarea {
  resize: vertical;
}

/* Button styling */
button {
  background-color: #007bff;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

/* Style for the radio buttons to appear as circles */
.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-group label {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    accent-color: #007bff;  /* Change the color of the radio button */
}

#qr-reader {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

@media (max-width: 600px) {
    #qr-reader {
        width: 100%;
    }
}

.results-container {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ddd;
}
.result-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
