body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
  color: #555;
}

input, select, textarea, button {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Style for the radio buttons to appear as circles */
.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-group label {
    margin: 10px 0;
    font-size: 18px;
    cursor: pointer;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
    accent-color: #007bff;  /* Change the color of the radio button */
}

#qr-reader {
    width: 100%;
    max-width: 600px;
    margin: auto;
}

@media (max-width: 600px) {
    #qr-reader {
        width: 100%;
    }
}

.results-container {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ddd;
}
.result-item {
  background: #fff;
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 4px;
}
